*{
    margin: 0;
    padding: 0;
     
}
.header{
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url('Images/Background\ 1.jpg');
    background-position: center;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    

}
.topnav{
    display: flex;
    justify-content: center;
    background-color: #ffffff;
    padding: 10px 10px;
    border-radius: 20px;
    position: fixed;
    top: 24px;
    width: 1792px;
    left: 50px;
    align-items: center;
    height: 60px;
    
}
.topnav ul{
    list-style-type: none;
    margin: 0px;
    
     
}
.topnav li{
    display: inline;
    margin-left: 70px;
   
}
.logo img{
    height: 80px;
    top: 0px;
    left: 28px;
    position: absolute;
    width: 110px;
    border-radius: 0px;  
    
}
.nav-links{
    list-style: none;
    display: flex;
    margin: 0px;
    gap: 0px;
}
.nav-links li a {
    text-decoration: none;
    color: #000000;
    font-size: 17px;
    padding: 0px 10px;
    display: flex;
    justify-content: space-between;
    font-weight: 400;
    

}
.nav-links li a:hover {
    background-color: #e4010883;
    color: #ffffff;
    border-radius: 5px;
    padding: 5px 10px;  
}
.button{
    
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Inter, sans-serif;
    font-size: 17px;
    line-height: 30px;
    font-weight: 500;
    color: #ffffff;
    background: rgb(228, 1, 9);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    top: 15px;
    left: 1600px;
    position: absolute;
    width: 100px;
    height: 52px;   
}

.container{
    max-width: 0px;
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.message{
    font-size: 48px;
    color: black;
    position: absolute;
    top: 150px;
    left: 115px;
    width: 588px;
    line-height: 68px;
    
}
.description{
    font-size: 24px;
    color: black;
    position: absolute;
    top: 400px;
    left: 125px;
    width: 504px;
    line-height: 36px;

}
.button2{
    padding: 0px 10px;
    background-color: #e40109;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 35px;
    font-weight: 700;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 650px;
    left: 155px;
    width: 198px;
    height: 65px;
    display: flex;
    line-height: 28px;
    
}

.mission{
    position: absolute;
    top: 160px;
    left: 220px;
    font-size: 48px;
    font-family: Archivo, sans-serif;
    line-height: 68px;
    font-weight: 700;
    color: #DE3B40FF;
}

.description_mission{
    position: absolute;
    top: 260px;
    left: 220px;
    font-size: 20px;
    width: 344px;
    font-family: Inter, sans-serif;
    line-height: 30px;
    color: #171A1FFF;
    font-weight: 400;
}

.vision{
    position: absolute;
    top: 564px;
    left: 220px;
    font-size: 48px;
    font-family: Archivo, sans-serif;
    line-height: 68px;
    font-weight: 700;
    color: #DE3B40FF;
}

.description_vision{
    position: absolute;
    top: 632px;
    left: 220px;
    font-size: 20px;
    width: 312px;
    font-family: Inter, sans-serif;
    line-height: 30px;
    color: #171A1FFF;
    font-weight: 400;
}

.objectives{
    position: absolute;
    top: 160px;
    left: 1200px;
    font-size: 48px;
    font-family: Archivo, sans-serif;
    line-height: 68px;
    font-weight: 700;
    color: #DE3B40FF;
}

.description_objectives{
    position: absolute;
    top: 260px;
    left: 1200px;
    font-size: 20px;
    width: 344px;
    font-family: Inter, sans-serif;
    line-height: 30px;
    color: #171A1FFF;
    font-weight: 400;
}

.goals{
    position: absolute;
    top: 564px;
    left: 1200px;
    font-size: 48px;
    font-family: Archivo, sans-serif;
    line-height: 68px;
    font-weight: 700;
    color: #DE3B40FF;
}

.description_goals{
    position: absolute;
    top: 632px;
    left: 1200px;
    font-size: 20px;
    width: 344px;
    font-family: Inter, sans-serif;
    line-height: 30px;
    color: #171A1FFF;
    font-weight: 400;
}

.square{
    top: 330px;
    left: 1068px;
    height: 200px;
    width: 200px;
    background-color: #DE3B40FF;
    position: absolute;
    border-radius: 30px;
    
}
.square2{
    top: 530px;
    left: 1468px;
    height: 200px;
    width: 200px;
    background-color: #DE3B40FF;
    position: absolute;
    border-radius: 30px;
}

.design{
   
    height: 0px;
    top: 380px;
    left: 1115px;
    position: absolute;
    width: 0px;
}

.contact{
    position: absolute;
    top: 200px;
    left: 760px;
    font-size: 48px;
    font-family: Archivo, sans-serif;
    line-height: 68px;
    font-weight: 900;
    color: #DE3B40FF;
}

.square3{
    top: 430px;
    left: 300px;
    height: 500px;
    width: 500px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    border-radius: 30px;
}
.square4{
    top: 430px;
    left: 1100px;
    height: 500px;
    width: 500px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    border-radius: 30px;
}

.phone{
    position: absolute;
    top: 450px;
    left: 505px;
    font-size: 24px;
    color: black;
    line-height: 36px;
}

.email{
    position: absolute;
    top: 450px;
    left: 1305px;
    font-size: 24px;
    color: black;
    line-height: 36px;
}

.phone_number{
    position: absolute;
    top: 600px;
    left: 425px;
    font-size: 30px;
    color: black;
    line-height: 30px;
}

.email_address{
    position: absolute;
    top: 600px;
    left: 1225px;
    font-size: 30px;
    color: black;
    line-height: 30px;
}